#collage {
  top: 0;
  z-index: -10;
  max-width: 100%;
  .collage-layer {
    width: 100%;
    height: 100%;
    div {
      display: none;
    }
    img {
      object-fit: cover;
      position: relative !important;
    }
  }
}

// Tablet
@media (min-width: 768px) {
  #collage {
    .collage-layer {
      img {
        min-width: 100% !important;
        min-height: 100% !important;
      }
    }
  }
}

// Mobile
@media (max-width: 768px) {
  #collage {
    .collage-layer {
      img {
        height: 100% !important;
        width: auto !important;
      }
    }
  }
}
