$txt-dark: #1f1f1f;
$primary-blue: #0000ff;
$orangey-red: #ff3f32;
$barbie-pink: #ff35bb;
$bright-light-blue: #31fff8;
$off-yellow: #f7e338;
$very-light-gray: #c8c8c8;
$very-light-gray-two: #e7e7e7;
$fluorescent-green: #06ff12;

.dark {
  color: $txt-dark;
}
.bg-AS {
  background: $off-yellow;
}
.bg-AG {
  background: $barbie-pink;
}
.bg-EN {
  background: $fluorescent-green;
}
.bg-MY {
  background: $orangey-red;
}
.bg-TT {
  background: $very-light-gray;
}
.bg-EX {
  background: $bright-light-blue;
}
.selected-AS {
  box-shadow: 5px 5px 4px 2px $off-yellow !important;
}
.selected-AG {
  box-shadow: 5px 5px 4px 2px $barbie-pink !important;
}
.selected-EN {
  box-shadow: 5px 5px 4px 2px $fluorescent-green !important;
}
.selected-MY {
  box-shadow: 5px 5px 4px 2px $orangey-red !important;
}
.selected-TT {
  box-shadow: 5px 5px 4px 2px $very-light-gray !important;
}
.selected-EX {
  box-shadow: 5px 5px 4px 2px $bright-light-blue !important;
}

.info-pages {
  min-height: 100vh;
  background: $txt-dark;
  color: $very-light-gray-two;
  a {
    color: $very-light-gray-two;
  }
}

.AS-canvas {
  border: $off-yellow solid 1rem;
}
.AG-canvas {
  border: $barbie-pink solid 1rem;
}
.EN-canvas {
  border: $fluorescent-green solid 1rem;
}
.MY-canvas {
  border: $orangey-red solid 1rem;
}
.TT-canvas {
  border: $very-light-gray solid 1rem;
}
.EX-canvas {
  border: $bright-light-blue solid 1rem;
}
.research {
  background-color: $txt-dark;
}
