$txt-dark: #1f1f1f;
$primary-blue: #0000ff;
$orangey-red: #ff3f32;
$orangey-red-alpha: rgba(255, 63, 50, 0);
$barbie-pink: #ff35bb;
$barbie-pink-alpha: rgba(255, 53, 187, 0);
$bright-light-blue: #31fff8;
$bright-light-blue-alpha: rgba(49, 255, 248, 0);
$off-yellow: #f7e338;
$off-yellow-alpha: rgba(247, 227, 56, 0);
$very-light-gray: #c8c8c8;
$very-light-gray-alpha: rgba(200, 200, 200, 0);
$very-light-gray-two: #e7e7e7;
$fluorescent-green: #06ff12;
$fluorescent-green-alpha: rgba(6, 255, 18, 0);

@mixin gradient($alpha, $transparent, $direction) {
  background: linear-gradient(to $direction, $transparent, $alpha 90%);
}

@mixin sideGradient($color, $alpha) {
  background: $color;
  &.list {
    &:before {
      background: linear-gradient(to left, $alpha, $color 90%);
    }
    &:after {
      background: linear-gradient(to right, $alpha, $color 90%);
    }
  }
}

@mixin selectedShadow($color) {
  box-shadow: 5px 5px 4px 2px $color !important;
}

.dark {
  color: $txt-dark;
}

.bg-AS {
  @include sideGradient($off-yellow, $off-yellow-alpha);
}
.bg-AG {
  @include sideGradient($barbie-pink, $barbie-pink-alpha);
}

.bg-EN {
  @include sideGradient($fluorescent-green, $fluorescent-green-alpha);
}
.bg-MY {
  @include sideGradient($orangey-red, $orangey-red-alpha);
}

.bg-TT {
  @include sideGradient($very-light-gray, $very-light-gray-alpha);
}
.bg-EX {
  @include sideGradient($bright-light-blue, $bright-light-blue-alpha);
}
.selected-AS {
  @include selectedShadow($off-yellow);
}
.selected-AG {
  @include selectedShadow($barbie-pink);
}
.selected-EN {
  @include selectedShadow($fluorescent-green);
}
.selected-MY {
  @include selectedShadow($orangey-red);
}
.selected-TT {
  @include selectedShadow($very-light-gray);
}
.selected-EX {
  @include selectedShadow($bright-light-blue);
}

.info-pages {
  min-height: 100vh;
  background: $txt-dark;
  color: $very-light-gray-two;
  a {
    color: $very-light-gray-two;
  }
}

.AS-canvas {
  border: $off-yellow solid 1rem;
}
.AG-canvas {
  border: $barbie-pink solid 1rem;
}
.EN-canvas {
  border: $fluorescent-green solid 1rem;
}
.MY-canvas {
  border: $orangey-red solid 1rem;
}
.TT-canvas {
  border: $very-light-gray solid 1rem;
}
.EX-canvas {
  border: $bright-light-blue solid 1rem;
}
.research {
  background-color: $txt-dark;
}

.projects {
  .navigation {
    color: $very-light-gray-two;
    a {
      color: inherit;
    }
  }
}

@media (max-width: 768px) {
  .home-page {
    #nav-projects {
      .list:before {
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          $very-light-gray 90%
        );
      }

      .bg-AS.list:before {
        background: linear-gradient(
          to bottom,
          $off-yellow-alpha,
          $off-yellow 90%
        );
      }
      .bg-AG.list:before {
        background: linear-gradient(
          to bottom,
          $barbie-pink-alpha,
          $barbie-pink 90%
        );
      }
      .bg-EN.list:before {
        background: linear-gradient(
          to bottom,
          $fluorescent-green-alpha,
          $fluorescent-green 90%
        );
      }
      .bg-MY.list:before {
        background: linear-gradient(
          to bottom,
          $orangey-red-alpha,
          $orangey-red 90%
        );
      }
      .bg-TT.list:before {
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          $very-light-gray 90%
        );
      }
      .bg-EX.list:before {
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          $bright-light-blue 90%
        );
      }
    }
  }
}
