.margin-auto {
  margin: auto;
}

button:focus {
  outline: 0;
}

button.no-style {
  background: inherit;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navigation.underline {
  text-decoration: underline;
}

.relative {
  position: relative;
}
