.margin-auto {
  margin: auto;
}

button:focus {
  outline: 0;
}

button.no-style {
  background: inherit;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navigation.underline {
  text-decoration: underline;
}

.playButton,
.muteButton {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff !important;
  padding: 5px 10px;
  font-size: 36px !important;
  display: none;
}

.display {
  .video:hover {
    .playButton {
      display: block;
    }
  }
}
.research {
  .video:hover {
    .muteButton {
      display: block;
    }
  }
}
