@media (min-width: 768px) {
  #expandTheme {
    display: none;
  }
  .navigation {
    padding: 0 1rem;
  }
  #home {
    text-align: center;
    margin-bottom: 5rem;
    text-align: center;
    margin: 2rem 0;
  }
  .sidenav a {
    text-align: center;
  }
  .creditation {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
  }
  #nav-theme {
    margin: 2rem auto;
  }

  .projects {
    #nav-projects {
      max-width: 70%;
    }
  }
  .home-page {
    #nav-projects {
      max-width: 80%;
      li {
        display: inline-block;
      }
    }
  }
  #nav-projects {
    margin: 0 auto;
    text-align: left;
    ul {
      margin: 1rem auto 5rem auto;
    }
  }
  .full-height {
    iframe {
      // height: 100vh;
    }
  }
  iframe {
    height: -webkit-fill-available;
    max-width: 100vw;
    #player {
      width: 100vw;
    }
  }
  .flex iframe {
    z-index: 2;
  }
  .sidenav.open {
    width: 20vw;
    min-width: 300px;
  }

  .research {
    h1 {
      bottom: 3rem;
    }
  }
}

// laptop
@media (min-width: 1025px) {
}

// Large - laptop
@media (min-width: 1440px) {
}

// 4k screen
@media (min-width: 2560px) {
}

// mobile screen
@media (max-width: 768px) {
  .links {
    margin: 0 2rem;
  }
  #home {
    position: fixed;
    top: 1rem;
  }
  .creditation {
    padding: 1rem;
  }
  .projects {
    #nav-projects {
      height: 4rem;
      overflow-y: scroll;
    }
  }
  .home-page {
    #nav-projects {
      position: relative;
      ul {
        height: 30vh;
        overflow: scroll;
      }
      .list:before {
        content: "";
        position: absolute;
        left: 0;
        z-index: 0;
        bottom: 0;
        pointer-events: none;
        width: 100%;
        height: 20%;
      }
    }
  }
  #nav-projects {
    max-width: calc(100% - 5rem);
    margin: 0 auto;
  }
  #nav-theme {
    margin: 0;
    li {
      margin-bottom: 2rem;
    }
    .selected {
      margin-bottom: 1rem;
    }
    .not-selected {
      display: none;
    }
  }
  .list-wrapper {
    padding: 1rem;
  }
  .text-wrapper {
    padding: 2rem;
  }
  #news .description {
    white-space: normal;
    span {
      display: block;
    }
  }
}

// extra small mobile screen
@media (max-width: 320px) {
}
