nav.project-page {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}
#bottom-docker {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
#nav-theme {
  align-items: center;
  li {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  }
  a {
    color: $txt-dark;
    text-decoration: underline;
    background: #fff;
    padding: 0px 1rem;
    padding-bottom: 4px;
    word-break: break-word;
    white-space: pre-wrap;
  }
  &.project-page {
    .theme-items a {
      color: $very-light-gray-two;
      &:hover {
        color: $txt-dark;
      }
    }
    li {
      box-shadow: none;
    }
  }
}

#nav-projects {
  justify-content: center;
  width: fit-content;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
  text-align: center;

  li {
    padding: 8px 1rem;
    margin: 0;
  }
  a {
    color: $txt-dark;
  }
  .selected {
    text-decoration: underline;
  }
}
.project-links {
  width: auto;
  text-align: center;
}

#sidePanel {
  button {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    float: right;
    background: none;
  }
}

.navigation {
  text-decoration: underline;
  vertical-align: top;
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $txt-dark;
  box-shadow: -2px 2px 9px 0 rgba(255, 255, 255, 0.23);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  &.open {
    width: 100vw;
  }
}

.sidenav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
  padding: 0 1rem;
}

.sidenav .closebtn {
  position: absolute;
  right: 0;
  padding: 1rem;
  top: 0;
  font-size: 28px;
  letter-spacing: 1.55px;
  margin-left: 50px;
}
