nav.project-page {
  z-index: 3;
  top: 0;
  width: 100%;
}

::scrollbar {
  display: none;
}

.active {
  span {
    text-decoration: underline;
  }
}

#expandTheme {
  background: #fff;
  height: 32px;
  line-height: 0px;
  padding: 0px 5px;
  position: absolute;
  left: 1rem;
  top: -1rem;
}
.project-page {
  #nav-projects {
    position: relative;
    height: 65px;
    ul {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      padding: 0 2rem;
      li {
        display: inline-block;
      }
    }
    .list {
      height: inherit;
    }
    .list:before,
    .list:after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      pointer-events: none;
      width: 10%;
      height: 100%;
    }
    .list:before {
      left: 0;
    }

    .list:after {
      right: 0;
    }
  }
}

.controls {
  top: 0;
  position: absolute;
  text-decoration: underline;
  color: $very-light-gray-two !important;
  font-style: bold;
}

#prev {
  left: -2rem;
}
#next {
  right: -2rem;
}
.scrollbar-container {
  margin: 0;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#bottom-docker {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
#nav-theme {
  align-items: center;
  .selected {
    z-index: 30;
    x a {
    }
  }
  li {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 4px 0.5rem;
  }
  a {
    color: $txt-dark;
    text-decoration: underline;
    word-break: break-word;
    white-space: pre-wrap;
  }
  &.project-page {
    .theme-items a {
      color: $very-light-gray-two;
      &:hover {
        color: $txt-dark;
      }
    }
    li {
      box-shadow: none;
    }
  }
}

#nav-projects {
  justify-content: center;
  width: fit-content;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
  text-align: center;

  li {
    padding: 8px 1rem;
    margin: 0;
  }
  a {
    color: $txt-dark;
  }
}
.project-links {
  width: auto;
  text-align: center;
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

#sidePanel {
  z-index: 10;
  button {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    float: right;
    background: none;
  }
}

.navigation {
  text-decoration: underline;
  vertical-align: top;
  color: white;
  a {
    color: inherit;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $txt-dark;
  box-shadow: -2px 2px 9px 0 rgba(255, 255, 255, 0.23);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  &.open {
    width: 100vw;
  }
}

.sidenav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
  padding: 0 1rem;
}

.sidenav .closebtn {
  position: absolute;
  right: 0;
  padding: 1rem;
  top: 0;
  font-size: 28px;
  letter-spacing: 1.55px;
}

@mixin offset {
  @for $i from 2 through 5 {
    @if $i != 3 {
      &:nth-child(#{$i}) {
        margin-left: $i * 1.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .theme-items {
    @include offset;
  }
}
@media (min-width: 768px) {
  .theme-items {
    display: inline-block;
  }
  #expandTheme {
    display: none;
  }
  .navigation {
    padding: 0 1rem;
  }
  #home {
    text-align: center;
    margin-bottom: 5rem;
    text-align: center;
    margin: 2rem 0;
  }
  .sidenav a {
    text-align: center;
  }
  .creditation {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
  }
  #nav-theme {
    margin: 2rem auto;
    li {
      position: relative;
      &.EN {
        top: 1rem;
      }
      &.AS,
      &.TT {
        top: -1rem;
      }
    }
  }

  .projects {
    #nav-projects {
      max-width: 60%;
    }
  }
  .home-page {
    #nav-projects {
      max-width: 80%;
      li {
        display: inline-block;
      }
    }
  }
  #nav-projects {
    margin: 0 auto;
    text-align: left;
    ul {
      margin: 1rem auto 5rem auto;
    }
  }

  .sidenav.open {
    width: 20vw;
    min-width: 300px;
  }
}
