.research {
  min-height: 100vh;
  .display-videos,
  .text-wrapper,
  .image-wrapper {
    display: none;
  }

  .project-titles {
    color: #fff;
    margin: 0 auto;
    padding-top: 1rem;
    width: fit-content;
    text-align: center;
    text-decoration: underline;
  }
  .video {
    display: inline-block;
  }
}

.video {
  position: relative;
}

.text-block {
  margin: 0 auto;
}
