.research {
  .text-wrapper {
    display: none;
  }
  .image-wrapper {
    display: none;
  }
  .project-titles {
    color: #fff;
    margin: 0 auto;
    padding-top: 1rem;
    width: fit-content;
    text-align: center;
    text-decoration: underline;
  }
}

.video {
  position: relative;
}
.flex .background {
  color: #fff;
}
.background {
  position: absolute;
  top: 50%;
  left: 35%;
  bottom: 0;
  right: 0;
  z-index: -1;
  font-size: 36px;
  color: black;
  overflow: hidden;
}
