.research {
  min-height: 100vh;
  color: #fff;
  h1 {
    text-decoration: underline;
    position: fixed;
    padding: 1rem;
    bottom: 3rem;
  }
  .project-content {
    display: none;
  }

  .project-titles {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .video {
    display: inline-block;
  }
}

.video {
  position: relative;
}

.text-block {
  margin: 0 auto;
}
