.slick-prev:before {
  content: "ᐸ" !important;
  left: 35px;
}

.slick-next:before {
  content: "ᐳ" !important;
  left: -50px !important;
}
.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  position: absolute;
  color: $very-light-gray-two !important;

  font-family: "stratos", sans-serif !important;
  font-size: 50px !important;
}

.carousel {
  margin: 0 auto;
  text-align: center;
  img {
    width: auto !important;
    max-height: 70vh;
    left: 50% !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
  }
}

.slick-slider,
.slick-track {
  height: inherit;
  line-height: 0;
}
.slick-list {
  text-align: center;
}
