.slick-prev:before {
  content: "" !important;
}

.slick-next {
  right: 39px !important;
}

.slick-next:before {
  content: "ᐳ" !important;

  color: $very-light-gray-two !important;
  left: -50px !important;
}
.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  font-family: "stratos", sans-serif !important;
  font-size: 50px !important;
}

.carousel {
  margin: 0 auto;
  text-align: center;
  img {
    width: auto !important;
    max-height: 70vh;
    left: 50% !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
  }
}

.slick-slider,
.slick-track {
  height: inherit;
  line-height: 0;
}
.slick-list {
  text-align: center;
  height: 70vh !important;
}
