.switch {
  position: relative;
  display: none;
  width: 95px;
  height: 30px;
  z-index: 2;
  margin-left: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $very-light-gray-two;
  border: 2px solid $very-light-gray-two;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "research";
  left: 0;
  height: 26px;
  padding: 0 8px;
  color: white; 
  font-family: stratos,sans-serif;
  background-color: $txt-dark;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: 10px; 
}

input:checked + .slider:before {
  color: $txt-dark;
  background-color: #fff;
  content: "project";
}

input:checked + .slider {
  background-color: $txt-dark;
  border: 2px solid #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
