.tk-stratos-lights {
  font-family: "stratos-lights", sans-serif;
}
.tk-stratos {
  font-family: "stratos", sans-serif;
}

body {
  font-family: "stratos", sans-serif;
}

html,
a {
  cursor: url("/icons/mouse-pink.png"), auto;
}
nav,
#nav-theme,
h1,
.navigation,
.themes,
.large-text {
  font-family: "stratos", sans-serif;
  font-size: 36px;
  letter-spacing: 2.04px;
}

.image-captions,
.project-titles {
  font-family: "stratos", sans-serif;
  font-size: 18px;
  letter-spacing: 0.44px;
}

.description {
  font-family: "stratos", sans-serif;
  font-size: 20px;
  letter-spacing: 0.59;
  white-space: pre-wrap;
  margin: 0 auto;
}

.date {
  font-family: "stratos", sans-serif;
  font-size: 12px;
  letter-spacing: 0.29px;
}
