.tk-stratos-lights {
  font-family: "stratos-lights", sans-serif;
}
.tk-stratos {
  font-family: "stratos", sans-serif;
}

body {
  font-family: "stratos", sans-serif;
}

html,
a {
  cursor: url("/icons/mouse-pink.png") 30 30, auto; // recenter hot spot by half width & height of the image
}
nav,
#nav-theme,
h1,
.navigation,
.themes,
.controls,
.about-text {
  font-family: "stratos", sans-serif;
  font-size: 36px;
  letter-spacing: 2.04px;
  line-height: 1.14;
}

.project-titles {
  font-family: "stratos", sans-serif;
  font-size: 18px;
  letter-spacing: 0.44px;
}

.description {
  font-family: "stratos", sans-serif;
  font-size: 22px;
  letter-spacing: 0.59px;
  line-height: 1.32;
  white-space: pre-wrap;
}
.details {
  font-family: "stratos-lights", sans-serif;
  font-size: 18px;
  letter-spacing: 0.44px;
  font-weight: 300;
  white-space: pre-wrap;
}
.title {
  line-height: normal;
}
.date {
  line-height: normal;
  font-family: "stratos", sans-serif;
  font-size: 12px;
  letter-spacing: 0.29px;
}

.large-text {
  font-family: "stratos", sans-serif;
  font-size: 24px;
  letter-spacing: 1.36px;
  line-height: 1.46;
}
figcaption {
  font-family: "stratos-lights", sans-serif;
}
.sidenav a {
  font-family: "stratos", sans-serif;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 1.08px;
  line-height: normal;
}
.contact-text {
  font-family: "stratos", sans-serif;
  font-size: 32px;
  line-height: 1.34;
  letter-spacing: 1.2px;
}

@media (min-width: 768px) {
  .sidenav a {
    font-family: "stratos", sans-serif;
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: 1.94px;
  }

  .large-text {
    font-family: "stratos", sans-serif;
    font-size: 36px;
    letter-spacing: 2.04px;
    line-height: 1.14;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  .description {
    font-size: 18px;
  }
  .details {
    font-size: 12px;
  }
  .about-text {
    font-family: "stratos", sans-serif;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 1.25px;
  }
}

/// IPAD
@media (min-width: 769px) and (max-width: 1024px) {
  nav,
  #nav-theme,
  h1,
  .navigation,
  .themes,
  .controls,
  .about-text {
    font-family: "stratos", sans-serif;
    font-size: 33px;
    letter-spacing: 0.5px;
    line-height: 1.14;
  }

  .info-pages {
    padding: 4rem;
  }
  .sidenav a {
    font-family: "stratos", sans-serif;
    font-size: 33px;
    line-height: 1.36;
    letter-spacing: 0.5px;
  }
}
