.tk-stratos-lights {
  font-family: "stratos-lights", sans-serif;
}
.tk-stratos {
  font-family: "stratos", sans-serif;
}

body {
  font-family: "stratos", sans-serif;
}

nav,
.navigation,
#nav-theme,
h1,
.themes {
  font-family: "stratos", sans-serif;
  font-size: 36px;
  letter-spacing: 2.04px;
}

.project-titles {
  font-family: "stratos", sans-serif;
  font-size: 18px;
  letter-spacing: 0.44px;
}

.dates {
  font-family: "stratos", sans-serif;
  font-size: 12px;
  letter-spacing: 0.29px;
}
