@import "helpers.scss";
@import "colors.scss";
@import "nav.scss";
@import "override.scss";
@import "overlay.scss";
@import "typography.scss";
@import "images.scss";

#myCanvas {
  position: fixed;
  top: -1500px;
  left: -1000px;
  z-index: -10;
}

#collage {
  top: 0;
  z-index: -10;
}

.projects {
  .navigation {
    color: $very-light-gray-two;
    a {
      color: inherit;
    }
  }
}
